body {
    grid: "head"
          "main"
          "foot"
          / 1fr;
}

#content {
    display: flex;
    flex-direction: column;
}

form {
    display: grid;
    grid-template-columns: min-content min-content;
    gap: .5em;
}

form,
p {
    margin: 0 auto;
}

form button {
    width: max-content;
    padding: 0 .3em;
}

form label {
    white-space: nowrap;
}
