/* Tabellen Info ***********************/
.liga_block {
    display: block;
    margin-bottom: 1em;
    padding: .5em;
    text-decoration: none;
    color: #000;
}

.liga_block img:not(.img_btn) {
    height: 5em;
    width: 5em;
    margin-right: .5em;
    border-radius: 1em;
    float: left;
}

.liga_info h1 {
    margin: 0;
}

.ersteller {
    display: block;
    margin-bottom: .8em;
}

/* Tabelle *********************************/
#tabelle img {
    width: 1em;
    height: 1em;
}

#tabelle th {
    font-weight: bold;
}

#tabelle th,
#tabelle td {
    text-align: center;
    padding: .5em;
    border-bottom: 1px solid rgb(0, 61, 127);
}

#tabelle tr:hover {
    background: rgb(172, 171, 171);
    border: 1px solid rgb(0, 61, 127);
    border-radius: 1em;
}

#tabelle thead tr:hover {
    background:rgb(211, 211 ,211);
}

#tabelle th:nth-child(3),
#tabelle td:nth-child(3) {
    padding-left: .5em;
    text-align: left;
}

#tabelle a {
    color: #000;
    text-decoration: none;
}

#tabelle a:hover {
    text-decoration: underline;
}

/* Platzierungen */
#tabelle tr:nth-child(1) td:nth-child(1) {
    border-left: 5px solid rgb(0, 115, 0);
}

#tabelle tr:nth-child(2) td:nth-child(1) {
    border-left: 5px solid rgb(0, 165, 0);
}

#tabelle tr:nth-child(3) td:nth-child(1) {
    border-left: 5px solid rgb(0, 215, 0);
}

#tabelle tr:nth-last-child(1) td:nth-child(1) {
    border-left: 5px solid rgb(150, 0, 0);
}

#tabelle tr:nth-last-child(2) td:nth-child(1) {
    border-left: 5px solid rgb(200, 0, 0);
}

#tabelle tr:nth-last-child(3) td:nth-child(1) {
    border-left: 5px solid rgb(250, 0, 0);
}

/* Aside */
aside {
    padding: 0;
}

#erstellerTools {
    margin-bottom: 1em;
    padding: 1em;
    border: 1px solid rgb(0, 61, 127);
    border-radius: 1em;
}

#erstellerTools .buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: .5em;
}

#letzterSpieltag {
    padding: 1em;
    border: 1px solid rgb(0, 61, 127);
    border-radius: 1em;
}

/* Popups */
form {
    display: grid;
    grid-template-columns: min-content 1fr;
    gap: .5em;
}

form {
    margin: auto;
}

.popup_content p {
    margin-bottom: .5em;
}

/* Vorschau wenn keine Liga ausgewählt ist => home.css */
.liga_block_klein {
    display: block;
    height: 3em;
    padding: .5em;
    text-decoration: none;
    color: #000;
}

.liga_block_klein:hover {
    background: rgb(128, 128, 128);;
    border-radius: 1em;
}

.liga_block_klein img {
    height: 3em;
    width: 3em;
    margin-right: .5em;
    border-radius: 1em;
    float: left;
}

.liga_info_klein h1 {
    margin: 0;
}

.liga_info_klein span {
    display: block;
    max-width: 20em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 60em) {
    #erstellerTools {
        margin: 0;
    }

    #erstellerTools .buttons {
        justify-content: space-around;
    }
}

@media (max-width: 45em) {
    #erstellerTools {
        margin-bottom: 1em;
    }

    #erstellerTools .buttons {
        justify-content: space-between;
    }
}
