#content {
	display: grid;
	grid: "h1 h1"
		  "pb ausgabe"
		  / min-content auto;
	gap: .5em;
	align-content: start;
}

#content h1 {
	margin-bottom: 1em;
}

#content p {
	padding-bottom: .5em;
}

h1 {
	grid-area: h1;
}

figure {
	grid-area: pb;
	position: relative;
	display: inline-block;
	width: 10em;
	height: 10em;
	border-radius: 100%;
	overflow: hidden;
}

figcaption {
	position: absolute;
	display: inline-block;
	bottom: 0;
	text-align: center;
	width: 100%;
	color: #fff;
	background: rgba(0, 0, 0, .5);
}

img#pb {
	height: 100%;
	margin-right: .5em;
	border-radius: 1em;
}

input[type="file"] {
	border: none;
	padding: 0;
	content: "";
	
}

#ausgabe {
	display: grid;
	grid-template-columns: min-content min-content;
	grid-template-rows: min-content;
	grid-area: ausgabe;
	gap: .5em;
	align-content: center;
}

#ausgabe p {
	white-space: nowrap;
}

.img_btn img {
	height: 1em;
}

#bestellungen {
	grid-area: bestellungen;
}
