/* Generelle Eistellungen */
* {
    padding: 0;
    margin: 0;
    font-family: roboto;
    font-size: 1em;
}

/* Ausehen der Seite, header, content, aside, footer */
body {
    width: 80%;
    max-width: 90em;
    display: grid;
    grid: "head head" 
          "main side"
          "foot foot"
          / 5fr 3fr;
    gap: 1em;
    margin: 0 auto;
}

header,
#content,
aside,
footer {
    padding: 1em;
}

/* header */
header {
    grid-area: head;
    display: flex;
    justify-content: space-between;
    background-color: rgb(0, 61, 127);
    border-radius: 0 0 1em 1em;
}

header a {
    text-decoration: none;
    height: 5em;
}

header img {
    width: 5em;
    border-radius: 1em;
}

/* Menü Button für Mobile Ansicht */
label.smartphone-btn { 
    display: none;
    align-self: center;
    width: 4em;
    height: 3em; 
    position: relative; 
    margin-right: .5em;
}
 
input#smartphone-btn {
    display:none
}

.line { 
    position: absolute;
    display: block;
    left: 1em;
    height: .3em;
    width: 3em;
    background: #fff;
    border-radius: 2px;
    transition: 0.5s;
    transform-origin: center;
}
 
.line:nth-child(1) {
    top: .5em;
}
.line:nth-child(2) {
    top: 1.4em;
}
.line:nth-child(3) {
    top: 2.3em;
}

#smartphone-btn:checked + .smartphone-btn .line:nth-child(1) {
    transform: translateY(.85em) rotate(-45deg);
}

#smartphone-btn:checked + .smartphone-btn .line:nth-child(2) {
    opacity: 0;
}

#smartphone-btn:checked + .smartphone-btn .line:nth-child(3) {
    transform: translateY(-.85em) rotate(45deg);
}

/* Navigation */
nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 1.5em
}

nav a {
    color: #fff;
    text-decoration: none;
    height: 1.5em;
    font-size: 1.5em;
    cursor: pointer;
}

nav li {
    margin-left: 1.5em;
    transition: all .2s ease;
}

nav li:hover {
    padding-top: 3px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    height: calc(1.5em + 3px);
}

.dropdown-content {
    position: absolute;
    display: none;
    height: unset;
    min-width: 5.7em;
    margin-left: -1.2em;
    white-space: nowrap;
    background: rgb(76, 153, 235);
    border-radius: 1em;
}

.dropdown-content li {
    margin: 0;
    padding: .5em 1em;
    border-bottom: 1px solid rgb(0, 61, 127);
}

.dropdown-content li:hover {
    padding-top: calc(.5em + 3px);
}

.dropdown-content li:last-child {
    border: none;
}

.dropdown-content a {
    font-size: 1.2em;
}

.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}

/* Inhalt der Seite ********************************/
#content {
    grid-area: main;
    min-height: calc(100vh - 6em - 3em - 4em - 2em); /*100vh - header - footer - gab - content-padding*/
    width: calc(100% - 2em);
    background: rgb(211, 211 ,211);
    border-radius: 1em;
}

h1,.h1 {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 1em;
}

h2 {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 1em;
}

.erfolg, .error {
    width: 100%;
    font-weight: bold;
    text-align: center;
}

.erfolg {
    color: rgb(0, 111, 0);
}

.error {
    color: #f00;
}

/* Button und Input Aussehen für alle Seiten */
button:not(.img_btn),
.btn {
    display: inline-flex;
    width: min-content;
    border: none;
    border-radius: 5em;
    padding: .5em 1em;
    background: rgb(0, 61, 127);
    color: #fff;
    cursor: pointer;
    white-space: nowrap;
    text-decoration: none;
    transition: opacity .2s ease;
}

.img_btn {
    height: 1em;
    width: 1em;
    align-self: center;
    border: none;
    background: none;
    cursor: pointer;
}

button img,
.btn img {
    margin-right: .5em;
}

button:hover,
.btn:hover,
.img_btn:hover {
    opacity: .8;
}

button:hover img,
.btn:hover img {
    opacity: 1;
}


label {
    white-space: nowrap;
    align-self: center;
}

input,
textarea,
select {
    padding: .5em 1em;
    border-radius: .5em;
    border: 1px solid rgb(0, 61, 127);
}

input:focus,
textarea:focus,
select:focus {
    border: 2px solid rgb(0, 61, 127);
}

input,
select {
    width: min-content;
    min-width: 10em;
}

input[type="number"] {
    min-width: 3em;
    width: 3em;
}

textarea {
    width: calc(100% - 2em);
    height: 10em;
}

/* Popup */
.popup_background {
    position: fixed;
    background-color: rgba(31, 31, 31, .7);
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    z-index: 1000;
}

.popup_content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60%;
    transform: translate(-50%, -50%);
    padding: .5em;
    border-radius: 1em;
    background-color: rgba(76, 153, 235, 1);
    z-index: 1001;
}

/* Aside */
aside {
    grid-area: side;
    background: rgb(128, 128, 128);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

/* Footer */
footer {
    grid-area: foot;
    display: flex;
    height: 2em;
    background-color: rgb(0, 61, 127);
    border-radius: 1em 1em 0 0;
    color: #fff;
}

footer p {
    align-self: center;
}

/* Tablet Ansicht */
@media (max-width: 60em) {
    body {
        grid: "head" 
              "main"
              "side"
              "foot"
              / 1fr;
        width: 90%;
    }

    #content {
        width: calc(100% - 2em); /*100% - padding*/
    }

    .popup_content {
        width: 80%;
    }

    aside {
        justify-content: space-between;
        flex-direction: row;
    }
}

/* Extrastufe für aside und header */
@media (max-width: 45em) {
    aside {
        flex-direction: column;
    }

    

    header {
        border-bottom-right-radius: 0;
    }

    label.smartphone-btn { 
        display: flex;
    }

    nav {
        display: none;
        position: absolute;
        top: 6em;
        right: 0;
        margin: -.5em 0 0 0;
        border-radius: 0 0 1em 1em;
        background-color: rgb(0, 61, 127);
    }

    #smartphone-btn:checked ~ nav {
        display: flex;
    }
    
    nav ul {
        display: flex;
        flex-direction: column;
        height: unset;
        padding: .5em;
    }

    ul li {
        margin: 0;
    }

    ul li:not(.dropdown) {
        padding: 1em .5em;
    }
    
    .dropdown a {
        display: none;
    }

    .dropdown-content {
        position: relative;
        display: block;
        width: auto;
        margin-left: 0;
        padding: 0;
        background: rgb(0, 61, 127);
    }
    
    .dropdown-content a {
        font-size: 1.5em;
        display: unset;
    }
}

/* Smartphone Ansicht */
@media (max-width: 30em) {
    body {
        width: 100%;
    }

    .popup_content {
        width: calc(100% - 1em);
        height: calc(100% - 1em);
        overflow-y: scroll;
    }

    input,
    select {
        width: calc(100% - 2em);
    }
}
